body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  color: #666;
  justify-content: center;
  display: flex;
  background: #ffffff;
}

.main {
  margin-top: 2rem;
  width: 100vw;
  max-width: 1200px;
  min-height: 100vh;
  display: flex;
  margin-bottom: 3rem;
  flex-direction: row;
}

.left {
  padding: 1rem;
  min-width: 70%;
  min-height: 100vh;
  max-height: fit-content;
}
.right {
  padding: 1rem;
  max-height: fit-content;
  min-width: 25%;
  min-height: 100vh;
}
.mainhead {
  font-size: 3rem;
  margin-top: 2rem;
  font-weight: bold;
  color: #313131;
  height: fit-content;
  min-height: 9rem;
}
.subhead {
  font-size: 1rem;
  height: fit-content;

  line-height: 3.5rem;
  color: rgb(156, 156, 156);
  font-weight: bold;
}
.image {
  width: 100%;
  margin-bottom: 3rem;
  border-radius: 1rem;
  overflow: hidden;
}
.mainimage {
  width: 100%;
  height: 100%;
}
.mainbody {
  font-size: 1.2rem;
  line-height: 1.5rem;
}
.PostMainDate {
  margin-bottom: 1rem;
}
.comp {
  width: 100%;
  min-height: 3rem;
  padding: 00.7rem;
  border-bottom: 1px solid black;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.smallimg {
  width: 100px;
  height: 100px;
  border-radius: 0.2rem;
}
.rightcomp {
  font-weight: bold;
  display: flex;
  padding: 00.7rem;
  flex-direction: column;
}
.compdown {
  font-size: 0.7rem;
  font-weight: normal;
}
.Postdate {
  opacity: 0.5;
}
.compup {
  font-size: 1rem;
}
.social {
  margin: 0 0.2rem;
  width: 50px;
  height: 50px;
  background-color: rgb(150, 190, 190);
  border-radius: 10%;
  display: grid;
  font-weight: bolder;
  place-items: center;
}
.righthead {
  font-size: 1.2rem;
  margin: 0.8rem 0;
  font-weight: bold;
}
@media (max-width: 1100px) {
  .main {
    max-width: 100vw;
  }
  .left {
    min-width: 60%;
  }
  .right {
    min-width: 25%;
  }
}
@media (max-width: 950px) {
  .mainhead {
    font-size: 2.5rem;
  }
  .left {
    min-width: 40%;
  }
  .right {
    min-width: 35%;
  }
}
@media (max-width: 800px) {
  .mainhead {
    font-size: 2rem;
  }
  .main {
    max-width: 100vw;
    flex-direction: column;
  }
  .left {
    min-width: 60%;
  }
  .right {
    min-width: 25%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .comp {
    width: 90%;
  }
}
.comment {
  min-height: 5rem;
  margin-top: 1rem;
}
.commentbox {
  width: 70%;
  margin-left: -0.5rem;

  border-radius: 1rem;
  padding: 1rem;
  border: 1px solid black;
}
.commented {
  position: relative;
  width: 90%;
  padding: 1rem;
  background-color: rgb(240, 240, 240);
  min-height: 7rem;
  margin-top: 1rem;
}
.userinfo {
  display: flex;
  flex-direction: row;
}
.photo {
  background-color: lightblue;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.username {
  padding: 1rem;
  font-weight: bold;
}
.mainArea {
  padding: 1rem 0;
}
.reply {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: gainsboro;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.reply:hover {
  background-color: rgb(182, 182, 182);
}
.newletterDiv {
  padding: 1rem;
  margin: 0.5rem 0;
  border: 1px solid black;
}
.newletterDiv > h3 {
  font-size: 1.5rem;
  font-weight: bold;
}
.newletterDiv > input {
  width: 90%;
}
.newletterDiv > button {
  width: 90%;
  margin: 0.2rem auto;
}
.extra {
  width: 90%;
  border: 1px solid black;
  min-height: 3rem;
  padding: 1rem;
}
.extra img {
  width: 100%;
}
.commentDate {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
